.gradient-color {
  position: relative;
}

.gradient-color:after {
  content: '';
  position: absolute;
  background: linear-gradient(90deg,#009fb3 0%,#2f528a 100%);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.title.formatting {
  color: white;
}

.subtitle.formatting {
  color: white;
}

.checkbox {
  display: block !important;
}

.media {
  align-items: center !important;
}

.media-left {
  margin-right: 5px !important;
}

.media-link {
  margin-right: 5px;
}

.upload-date {
  font-size: 12px;
  color: #cccccc;
}

.tag {
  margin: 1px;
}